auto-save-list/
url/
*~
server/
.DS_Store
bookmarks
*.db
recentf
transient/
projectile*
eshell*
recentf*
straight/build
straight/build-cache.el
straight/repos
#recentf#
*cache
*session*
tramp
projects